@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700;800;900&display=swap");
@import "tailwindcss";

:root {
  /* ========== COLOR PALLER VARIABLES ========== */
  --white: #ffffff;
  --black: #000000;
  /* Blue */
  --blue-light: #eaf7fa;
  --blue-light-hover: #e0f3f8;
  --blue-light-active: #bfe6f0;

  --blue-normal: #30adcd;
  --blue-normal-hover: #2b9cb9;
  --blue-normal-active: #268aa4;

  --blue-dark: #24829a;
  --blue-dark-hover: #1d687b;
  --blue-dark-active: #164e5c;

  --blue-darker: #113d48;

  /* Red */
  --red-light: #faeef0;
  --red-light-hover: #f8e6e9;
  --red-light-active: #f1cad1;

  --red-normal: #d1556c;
  --red-normal-hover: #bc4d61;
  --red-normal-active: #a74456;

  --red-dark: #9d4051;
  --red-dark-hover: #7d3341;
  --red-dark-active: #5e2631;

  --red-darker: #491e26;

  /* Gray */
  --gray-light: #f9fafb;
  --gray-light-hover: #f3f4f6;
  --gray-light-active: #e5e7eb;

  --gray-normal: #d1d5db;
  --gray-normal-hover: #9ca3af;
  --gray-normal-active: #6b7280;

  --gray-dark: #4b5563;
  --gray-dark-hover: #374151;
  --gray-dark-active: #1f2937;

  --gray-darker: #111827;

  /* Purple */
  --purple-light: #eeeff9;
  --purple-light-hover: #e6e6f6;
  --purple-light-active: #cbcced;

  --purple-normal: #565ac4;
  --purple-normal-hover: #4d51b0;
  --purple-normal-active: #45489d;

  --purple-dark: #414493;
  --purple-dark-hover: #343676;
  --purple-dark-active: #272858;

  --purple-darker: #1e1f45;

  /* Orange */
  --orange-light: #fefbf7;
  --orange-light-hover: #fdf9f3;
  --orange-light-active: #fcf2e7;

  --orange-normal: #f4d4b2;
  --orange-normal-hover: #dcbfa0;
  --orange-normal-active: #c3aa8e;

  --orange-dark: #b79f86;
  --orange-dark-hover: #927f6b;
  --orange-dark-active: #6e5f50;

  --orange-darker: #554a3e;

  /* Default Colors */
  --primary: var(--blue-normal);
  --background: var(--blue-darker);
  --foreground: var(--blue-light);

  /* Font Family Variable */
  --font-poppins: "Poppins", sans-serif;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);

  /* Bảng màu Blue cho Tailwind v4 */
  --color-blue-light: var(--blue-light);
  --color-blue-light-hover: var(--blue-light-hover);
  --color-blue-light-active: var(--blue-light-active);

  --color-blue-normal: var(--blue-normal);
  --color-blue-normal-hover: var(--blue-normal-hover);
  --color-blue-normal-active: var(--blue-normal-active);

  --color-blue-dark: var(--blue-dark);
  --color-blue-dark-hover: var(--blue-dark-hover);
  --color-blue-dark-active: var(--blue-dark-active);

  --color-blue-darker: var(--blue-darker);

  /* Set Font Poppins làm font mặc định (font-sans) */
  --font-sans: var(--font-poppins);
}

body {
  background-color: var(--white-background);
  color: var(--foreground);
  font-family: var(--font-poppins);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
